body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/img/bola-LogoCompasso\ 1.svg');
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position-x: right;
    background-position-y:bottom;
    height: 100vh;
}


/* Adicionando barra de rolagem vertical */

main {
    overflow-y: scroll; 
    white-space: nowrap;
    height: 70vh;
    margin-right: 1rem;
}

main::-webkit-scrollbar {
    width: 16px;
}
  
/* parte externa */
main::-webkit-scrollbar-track {
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius:22px;
    background: #FFFFFF;
    margin-top: 3rem;
}
  
  /* Parte interna */
main::-webkit-scrollbar-thumb {
    background: #DCDFE3;
    border-radius:8px;
}


/* Cabecalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}

.cabecalho_titulos{
    height: 3.25rem;
    width: 36.313rem;
    background-color: #6688FF;
    border-radius: 0px 14px 15px 0px;
    padding: 0.75rem 0px 0.75rem 1.5rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly

}

.cabecalho_titulos h1 {
    font-size: 1.375rem;
    font-weight: 700;
}

.cabecalho_titulos p {
    font-size: 0.875rem;
    font-weight: 400;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Nunito', sans-serif;
    border: none;
}

.botao-local-salvar { 
    background-color:#2CBE82;
    color: #FFFFFF;
    font-size: 1.063rem;
    font-weight: 400;
    height: 2.5rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.botao-local-salvar:hover { 
    opacity: 0.5; 
}

.botao-local-excluir { 
    background-color: #DA2B40;
    color: #FFFFFF;
    font-size: 1.063rem;
    font-weight: 400;
    height: 2.5rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.botao-local-excluir:hover { 
    opacity: 0.5;
}

.data-hora {
    padding-right: 1em;
}

.relogio-atualizado {
    font-weight: 400;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-atualizada {
    font-weight: 400;
    font-size: 1.25rem;
}

/* formulário */

.formulario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;  
}

.atividade-erro{
   margin-top: 1.2rem;
}

.dia-erro{
    margin-top: 1.1rem;
}

.horario-erro{
    margin-top: 1.1rem;
}

.paragrafo-erro{
    font-size: 0.625rem;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    visibility:hidden;
}

.formulario_atividade {
    border: 1px solid #2CBE82;
    border-radius: 10px;
    width: 26.5rem;
    height: 2.75rem;
    padding-left: 2rem;
}

.formulario_dias {
    width: 13.125rem;
    height: 2.75rem;
    border: 1px solid #2CBE82;
    border-radius: 10px;
    padding: 0.625rem 5.125rem 0.625rem 0.75rem;
    color: #3B3E45;
}

.formulario_horario {
    width: 6.375rem;
    height: 2.75rem;
    border: 1px solid #2CBE82;
    border-radius: 10px;
    text-align: center;
    color: #3B3E45;
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 400;
}


.formulario_botaoAdicionar{
    width: 13.875rem;
    height: 2.75rem;
    padding: 0.625rem 0.75rem;
    color: #FFFFFF;
    background: #2CBE82;
    border-radius: 10px;
    font-size: 1.063rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}



.formulario_botaoExcluir{
    width: 11.5rem;
    height: 2.75rem;
    padding: 0.625rem 0.75rem;
    color: #FFFFFF;
    background: #DA2B40;
    border-radius: 10px;
    font-size: 1.063rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.formulario_botaoAdicionar:hover, .formulario_botaoExcluir:hover {
    opacity: 0.5;
}

/* Seção para as atividades criadas */

.secao_principal {
    display: flex;
    flex-direction: column;
}

.secao_abas {
    display: flex;
}

.secao_horario {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
}

.bloco_horario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.313rem;
    height: 5.313rem;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 1.063rem;
    color: #3B3E45;
    margin: 0 1rem 0.5rem 1rem;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid #DCDFE3;
}

.cor_horario-segunda{
    background: rgba(255, 162, 70, 0.4);
}

.cor_horario-terca{
    background: rgba(53, 255, 133, 0.4);
}

.cor_horario-quarta{
    background: rgba(102, 136, 255, 0.4);
}

.cor_horario-quinta{
    background: rgba(179, 102, 255, 0.4);
}

.cor_horario-sexta{
    background: rgba(102, 209, 255, 0.4);
}

.cor_horario-sabado{
    background: rgba(255, 102, 212, 0.4);
}

.cor_horario-domingo{
    background: rgba(255, 102, 102, 0.4);
}

.secao_semana {
    margin:0 1rem 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    
}

.cards-semana ul {
    display: flex;
    justify-content: space-around;
}

.cards-semana ul li {
    width: 9.375rem;
    height: 2.063rem;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 9px 9px 0px 0px;
    font-weight: 700;
    font-size: 1.063rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.cards-semana ul li:hover{
    width: 11.875rem;
}

.cards-semana ul li:nth-child(1), .retangulo-segunda { 
    background-color: #FFA246;
}

.cards-semana ul li:nth-child(2), .retangulo-terca { 
    background-color:#35E185;
}

.cards-semana ul li:nth-child(3), .retangulo-quarta { 
    background-color: #6688FF;
}

.cards-semana ul li:nth-child(4), .retangulo-quinta { 
    background-color:#B266FF;
}

.cards-semana ul li:nth-child(5), .retangulo-sexta { 
    background-color: #66D1FF;
}

.cards-semana ul li:nth-child(6), .retangulo-sabado { 
    background-color:#FF66D4;
}

.cards-semana ul li:nth-child(7), .retangulo-domingo { 
    background-color: #FF6666;
}

/* Cards paras as atividades criadas */

.cronograma_atividades {
    display: none;
    flex-direction: column;
    overflow-x: scroll;
    transform: rotate(3.142rad);  
}

/* Estilização da barra horizontal*/

.cronograma_atividades::-webkit-scrollbar {
    height:8px;
}
  
/* parte externa barra*/
.cronograma_atividades::-webkit-scrollbar-track {
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius:22px;
    background: #FFFFFF;
    margin-right:8rem;
    margin-left: 1rem;
}
  /* Parte interna barra */
.cronograma_atividades::-webkit-scrollbar-thumb {
    background: #DCDFE3;
    border-radius:8px;
}

.detalhamento_atividades {
    display: flex;
    margin-bottom: 0.5rem;
    transform: rotate(3.142rad);  
}

.cards-atividades{
    display: flex;
    justify-content: space-between;
    width: 32rem;
    height: 5.313rem;
    background: linear-gradient(112.83deg, rgba(228, 240, 248, 0.42) 0%, rgba(255, 255, 255, 0.336) 110.84%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(10.5px);
    border-radius: 15px;
    margin-bottom: 0.4rem;
}

.cards-retangulo { /* Retangulo colorido para os cards */
    color: #6688FF;
    border-radius:15px 0px 0px 15px;
    border: none;
    width: 0.875rem;
    height: 5.313rem;
    display: flex;
    align-items: center;
}

.cards-atividades-paragrafo {
    font-weight: 400;
    font-size: 1.25rem;
    padding: 1rem;
}

.cards-atividades-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.563rem;
    height: 1.563rem;
    background: #98031E;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    margin-top: 1rem;
    margin-right: 0.2rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.cards-atividades-botao:hover{
    width: 3.75rem;
    height: 1.688rem;
}